
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

.navbar {
  background-color: #1a81c2;
}

.btn-primary {
  background-color: #1a81c2;
}

.navbar li a {
  color: white;
}

.brand-square {
  height: 40px;
}

.navbar-brand-centre {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-centre-img {
  height: 30px;
  margin-top: 7px;
}

.navbar-right a {
  color: #fff;
}

.card {
  margin-bottom: 1em;
}

.card-body img {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-logo {
  max-height: 120px;
  max-width: 100%;
}

.footer {
  background-color: #e9ecef;
  height: 50px;
  bottom: 0;
  width: 100%;
}

.logo {
  max-height: 200px;
  max-width: 100%;
}

