[Unit]
Description=Launch Zoekt code search

[Service]
ExecStart=/home/ubuntu/go/bin/zoekt-webserver -listen :6070 -index /home/ubuntu/zoekt -template_dir /home/ubuntu/bioc-code-tools/zoekt/templates
User=ubuntu
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target

