#p3x-gitlist-navigation-brand-icon {
    float: left;
    width: @navbar-height;
    display: inline-block;
    transform: scale(0.75);
}

.p3x-gitlist-navigation-brand-icon-small {
    margin-left: @navbar-padding-horizontal;
}

.p3x-gitlist-light {
    #p3x-gitlist-navigation-brand-icon {
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
    }
}

