<footer>
    <p>Powered by <a href="https://github.com/klaussilveira/gitlist">GitList 1.0.2</a></p>
    <p>Hosted by the <a href="https://cloud.denbi.de/">de.NBI Cloud </a><img src="https://www.huber.embl.de/msmb/images/denbi.png" style="vertical-align: text-top;height: 16px"></p>
</footer>
